<% content_for :page_title do %>
  <%= @event.location %>

  <small>
   <%= @event.occurs_at %> (<%= distance_of_time_in_words_to_now(@event.occurs_at) %>)
  </small>

  <div class="pull-right title-nav">
    <%= link_to "Edit", edit_event_path(@event) %>
    | <%= link_to "Delete", @event, method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
  </div>
<% end %>

<% content_for :nav do %>
  <%= link_to "Back to All Events", events_path %>
<% end %>

<% if @event.movies.any? %>
  <table class="table table-striped movie-list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Votes</th>
        <th colspan="2"></td>
      </tr>
    </thead>
    <% @event.movies.select { |m| m.persisted? }.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie.url %></td>
        <td><%= movie.votes.count %></td>
        <td><%= link_to "Vote", vote_event_movie_path(@event, movie) %></td>
        <td><%= link_to "Delete", event_movie_path(@event, movie), method: :delete, data: { confirm: "Are you sure you want to delete #{movie.title}?" } %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Add a Movie</h3>
    <% if @movie.errors.any? %>
      <ul class="error-list text-danger">
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for(@movie, url: event_movies_path(@event)) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: "form-control" %>
      </div>

      <%= f.submit "Suggest Movie", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

