<h1>Event</h1>

<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Date/Time:</strong> <%= @event.occurs_at %></p>

<p>
  <%= link_to 'Edit Event', edit_event_path(@event) %> | <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %>
</p>

<%= link_to 'Back to all Events', events_path %>
