<% content_for :page_title do %>
  <%= @event.location %>
  <small>
     <%= distance_of_time_in_words_to_now(@event.occurs_at) %>
  </small>
  <div class="pull-right title-nav">
    <%= link_to 'Back to Events', events_path %>
  </div>
<% end %>

<% if @event.movies.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Votes</th>
        <th colspan="2"></td>
      </tr>
    </thead>
    <% @event.movies.select { |m| m.persisted? }.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie.url %></td>
        <td><%= movie.votes.count %></td>
        <td><%= link_to "Vote", vote_event_movie_path(@event, movie) %></td>
        <td><%= link_to "Delete", event_movie_path(@event, movie), method: :delete, data: { confirm: "Are you sure you want to delete #{movie.title}?" } %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2>Add a Movie</h2>
<% if @movie.errors.any? %>
  <ul class="error-list">
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@movie, url: event_movies_path(@event)) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <%= f.submit 'Suggest Movie', class: 'btn btn-primary' %>
<% end %>

<p>
  <%= link_to 'Edit Event', edit_event_path(@event) %> | <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } %>
</p>

